rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /samples/{sample} {
      allow read: if authenticated();
      allow update: if authenticated() && ownUid(sample) && ownUid(resource.data.uid);
      allow create: if authenticated() && ownUid(sample) && ownUid(request.resource.data.uid);
    }
  }

  function authenticated() {
    return request.auth.uid != null && request.auth.token.email.matches('.*@tut.jp');
  }

  function ownUid(id) {
    return request.auth.uid == id
  }
}